body {
    background-color: rgb(248, 147, 255);
}
   

.main {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 8vw;
    margin-bottom: 8vw;
}

.titre {
    font-family: Bodoni Moda;
    font-size: 300%;
    line-height: 120%;
    margin-bottom: 12px;
    color: white
}

.paragraphe {
    margin-bottom: 2vw;
    font-family: Roboto;
    font-weight: lighter;
    font-size: 16px;
    background-color: white;
}

.lien {
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.lien:hover {
    color: white;
    background: rgb(243, 77, 255);
}