.main {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vw;
}

.titre {
    font-family: Bodoni Moda;
    font-size: 300%;
}

.paragraphe {
    margin-bottom: 2vw;
    font-family: Roboto;
    font-weight: lighter;
}

.lien {
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.lien:hover {
    color: white;
    background: rgb(0,255,252);
    background: linear-gradient(90deg, rgba(0,255,252,1) 0%, rgba(48,253,29,1) 27%, rgba(248,252,69,1) 81%, rgba(252,170,69,1) 100%);
}