* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    background-color: rgb(228, 228, 228);
}

.main {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.texte {
    font-family: Work Sans;
    font-size: 180%;
}

.lien {
    text-decoration: none;
    color: black;
}

.lien:hover {
    color: white;
    background: black;
}

.logo{
    position: fixed;
    width: 150px;
    z-index: 2;
}

.topright{
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 2;
}

.bottomright{
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 2;
}

.bottomleft{
    position: fixed;
    bottom: 15px;
    left: 20px;
    z-index: 2;
}

.image{
    width: 300px;
}

.draggableDiv {
    position: absolute;
}